

/*
Site para consulta: 

www.w3schools.com/css
*/


body{
  font-family: "Times New Roman", Times, serif;
  font-size: 12pt;
}


h1{
  font: italic bold 15pt "Times New Roman", Times, serif;
}

h2{
  font: italic bold 13pt "Times New Roman", Times, serif;}

h3{
  font: italic bold 12pt "Times New Roman", Times, serif;}


.news { background-color:lightblue; 
        border-radius: 5px; 
        padding: 20px; 
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.exerc { background-color:lightgray; 
         border-radius: 5px; 
         padding: 20px; 
         font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


.respost { background-color:azure; 
           border-radius: 5px; 
           padding: 20px; 
           font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}